link {'link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css''}
body {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  min-width: 1200px;
  background: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

h1 {
  font-size: 35px;
  line-height: 30px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  margin-top: 9px;
  float: left;
}

h2 {
  font-size: 35px;
  line-height: 45px;
  color: #fff;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;

  margin: 0;
  padding-bottom: 22px;
}

p {
  font-size: 18px;
  line-height: 1.3;
  color: #fff;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


.site_wrapper {
  min-width: 1200px;
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site_wrapper:before,
.site_wrapper:after {
  content: "";

  visibility: hidden;
}

.site_wrapper:before,
.site_wrapper:after {
  background-image: url("../img/ice_cream_background_1.png");
}

.site_wrapper:after {
  background-image: url("../img/ice_cream_background_2.png");
}

.content_wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;

}

.slider_wrapper {
 position: relative;
 padding-top: 275px;
 text-align: center;
 color: #fff;
}

.slider_item {
  display: none;
}

.slider_title {
  width: 705px;
  margin: 0 auto;
  margin-bottom: 30px;
  line-height: 1.2;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 60px;
}

.slider_controls {
  margin-top: -10px;
  position: relative;
  bottom: 25px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider_controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.slider_controls label:hover {
  background: #b2c1b7;
}

.container {
  width: 1146px;
}

.index_logo {
  float: left;
  width: 163px;
  height: 64px;
  margin-top: -10px;
}

.main_header {
  padding-top: 23px;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.main_navigation{
  float: left;
}

.main_navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.main_navigation ul li {
  display: inline-block;
  position: relative;;

  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-decoration-color: #fff;
}

.main_navigation a {
  display: block;
  padding: 6px 14px;
  color: #fff;
  border-radius: 20px;
  text-decoration: underline;
}

.main_navigation .dropdown {
  position: absolute;
  top: 100%;
  width: 144px;
  background: #f8f7f4;
  border-radius: 10px;
  display: none;
  z-index: 10;
}

.main_navigation .dropdown li {
  width: 100%;
}

.dropdown a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #343434;
  padding: 9px 0 9px 21px;
  border-radius: 0;

  text-decoration: none;
}

.main_navigation li:hover .dropdown {
  display: block;
}

.dropdown li a:hover {
  background: #fbded7;
}

.dropdown li a:active {
  background: #f6b5a5;
}

a.new {
  display: block;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;

}

a.new::after {
  position: absolute;
  content: "";
  display: block;
  border-top: 1px solid #d1d0ce;
  padding: 0;
}

.menu_active {
  background: #d07058;
}

a.menu_active {
  text-decoration: none;
}

.main_navigation a:hover {
  background: #f8f7f4;
  color: #333;
  text-decoration: none;
}

.user_block{
text-align: right;
}

.search {
  display: inline-block;
  margin-right: 11px;
  vertical-align: middle;
}

.icon_search {
  position: relative;
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 100%;
  background: #b0c0b7 url("../img/user_blog.png") no-repeat center;
  background-position: 5px -115px;
}

.icon_search:hover {
  background: #f8f7f4 url("../img/user_blog.png") no-repeat center;
  background-position: 5px -142px;
}

.search:hover .form_search {
  display: inline-block;
}

.form_search {
  position: absolute;
  display: none;
  left: 922px;
  top: 60px;

  font-size: 14px;
  line-height: 24px;
  color: #999;
  font-weight: 400;
  border: 15px solid #f8f7f4;
  border-radius: 5px;
}

.form_search input {
  width: 315px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  padding: 10px 0 10px 12px;
}

.form_search input:hover {
  border: 2px solid #9a9a9a;
}

.login {
  left: 0;
  display: inline-block;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 45px;

  font-size: 14px;
  line-height: 18px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  border-radius: 20px;
  background: #b0c0b7;
}

.login:hover {
  background: #f8f7f4;
  color: #333333;
}

.enter {
  position: relative;
  padding-right: 16px;
  margin-right: 11px;
}

.enter::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 16px;
  width: 22px;
  height: 22px;
  background: url("../img/user_blog.png") no-repeat;
  background-position: -5px -64px;
}

.enter:hover::before {
  background-position: -5px -94px;
}

.enter_form {
  display: none;
  position: absolute;
  left: 1119px;
  top: 60px;
  display: inline-block;
  width: 271px;
  border-radius: 15px;
  padding: 15px 17px;
  color: #333;
  z-index: 10;

  background: #f8f7f4;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.enter_form a {
  font-size: 13px;
  line-height: 24px;
  color: #333;
  font-weight: 400;
}

.enter:hover .form_enter {
  display: inline-block;
}

input.icon_password, input.icon_user {
  width: 241px;
  margin-bottom: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;

  font-size: 14px;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
  color: #999;

  background-color: #fff;
  border: 1px solid #d3d3d2;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.basket {
  position: relative;
  padding-right: 35px;
}

.basket::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 20px;
  margin: 0;
  font-size: 0;
  background: url("../img/user_blog.png") no-repeat;
  background-position: -5px -5px;
}

.basket::hover {
  background: url("../img/user_blog.png") no-repeat;
  background-position: -5px -35px;
}

.basket:hover::before {
  background-position: -5px -35px;
}

.header_contacts {
  margin-top: 20px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.header_contacts span {
  font-size: 22px;
  line-height: 28px;
}

.button {
  display: inline-block;
  padding: 12px 50px;

  font-weight: 700;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.button:hover {
  background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.index_content .button {
  padding: 12px 23px;
  margin-top: 39px;

  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  float: right;
}

.index_content_top {
  margin-top: 40px;
  padding: 27px 20px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
        box-sizing: border-box;
}

.item_left {
  float: left;
  width: 560px;
  background:url("../img/raspberries_background.jpg") center top;
}

.item_right {
  float: right;
  width: 560px;
  background: url("../img/chocolate_backgroung.jpg") center top;
}

.ice_cream {
  position: relative;
  float: left;
  width: 267px;
  margin-right: 26px;
  margin-top: 40px;
}
/*четвертое мороженое без отступа*/
.last_ice_cream {
  margin-right: 0;
}

.hit {
  position: absolute;
}

.ice_cream a {
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  -moz-box-sizing: border-box;
}

.ice_cream a:hover, .ice_cream a:active {
  color: #ec593c;
}

.abc a{
  padding-top: 282px;
}

.price {
  position: absolute;
  top: 216px;
  left: 0;
  font-size: 45px;
  line-height: 13px;
  color: #fff;
  font-weight: 700;
  text-shadow: 1px 1px 3px #313235;
  font-family: 'Roboto', sans-serif;
}

.icon_rubl {
  left: 80px;
  width: 31px;
  height: 36px;
  background: url("../img/rub.png") no-repeat center;

  display: inline-block;
  vertical-align: middle;
  padding-left: 3px;
}

.ice_cream:hover {
  position: absolute;
  background: #a7b8ad;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.ice_cream .button {
  display: none;
  margin-top: 20px;
  padding-left: 27px;
  padding-right: 27px;
}

.ice_cream .button a{
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  display: inline-block;
}

.ice_cream:hover ~ .ice_cream .button {
  display: block;
}

.inform {
  margin-top: 40px;
  background: url("../img/background_seo.jpg") center top;
  border-radius: 20px;
  padding: 20px 20px;
}

.inform ul {
  margin: 0;
  padding: 0;
}

.inform li {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 26px;
  padding-left: 55px;
  width: 540px;

  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.inform li.list1 {
background: url("../img/ice_cream_icon.svg") 0 0 no-repeat;
}

.inform li.list2 {
  background: url("../img/cow_icon.svg") 0 0 no-repeat;
}

.inform li.list3 {
  background: url("../img/sheet_icon.svg") 0 0 no-repeat;
}

.inform li.list4 {
  background: url("../img/thermometer_icon.svg") 0 0 no-repeat;
}


.index_content_down {
  margin-top: 40px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.blog {
  float: left;
  padding: 27px 20px;
  width: 560px;
  height: 220px;
  background: url("../img/blog.png") no-repeat center top;
}

.blog p {
  font-size: 16px;
  color: #5a5a5a;
  line-height: 20px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 9px;
}

.blog a {
  font-size: 24px;
  color: #353535;
  line-height: 31px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.blog a:hover {
  color: #ec593c;
}

.blog a:active {
  color: #ec593c;
}



.subscribe {
  padding-bottom: 41px;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 33px;
  float: right;
  width: 560px;
  background: url("../img/subscription.png") no-repeat center top;
}

.subscribe p {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.subscription_form {
  margin-top: 37px;
}

.subscribe input {
  width: 360px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid #b2b2b2;
  padding-left: 11px;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}


.btn {
  display: inline-block;
  padding: 10px 21px;
  float: right;
  border: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;

  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0% #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0% #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0% #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.map {
  margin-top: 40px;
  height: 430px;
  background: url("../img/map.png") no-repeat center;
}
.map img {
  padding-top: 140px;
}

.contacts {
  float: right;
  width: 302px;
  padding: 30px 25px;
  margin-top: 66px;
  margin-right: 27px;
  border-radius: 20px;
  background-color: #fffffe;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #343434;
}

.contacts span {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #343434;
}

.adress {
  display: inline-block;
  padding-bottom: 18px;
}

.tel {
  display: inline-block;
  padding-top: 13px;
  padding-bottom: 13px;
}

.communication {
  display: inline-block;
  padding: 12px 25px;
  margin-top: 25px;
  border: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  vertical-align: top;
  color: #fff;
  text-decoration: none;

  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0% #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0% #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0% #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.modal_content {
position: absolute;
  top: 120px;
  left: 50%;

  display: none;
  width: 478px;
  border-radius: 15px;
  margin-left: -238px;
  margin-top: 221px;
  padding: 24px;

  color: #000000;

  background: #f8f7f4;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.modal_content_show {
  display: block;
}

.modal_content p {

}

.modal_content .comm_form {
  margin: 0;
  margin-bottom: 14px;
}

input.name, input.mail{
  width: 267px;
  margin-bottom: 20px;
  padding-top: 14px;
  padding-bottom: 11px;
  padding-left: 20px;

  font-size: 16px;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
  color: #656565;

  background-color: #fff;
  border: 1px solid #d3d3d2;
  border-radius: 8px;
}

input.write{
  width: 428px;
  padding-top: 14px;
  padding-left: 20px;
  padding-bottom: 125px;
  margin-bottom: 26px;

  font-size: 16px;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
  color: #656565;

  background-color: #fff;
  border: 1px solid #d3d3d2;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.footer_index {
  padding-top: 20px;
  padding-bottom: 30px;
}

.footer_index a:hover {
  color: #ffbc9e;
}

.footer_index a:active {
  color: #ffbc9e;
}

.footer_social {
  float: left;
  margin-right: 26px;
}

.social_btn {
  margin: 0 3px;
  font-size: 0;
  display: inline-block;;
  border: 3px;
  border: #a9bbb1 solid;
  border-width: 3px;
  border-radius: 50px;
}

.twit {
  background: url("../img/sprite_footer.png") no-repeat;
  width: 31px;
  height: 31px;
  background-position: -10px -112px;
}

.inst {  background: url("../img/sprite_footer.png") no-repeat;
  width: 31px;
  height: 31px;
  background-position: -10px -61px;
}

.fb {  background: url("../img/sprite_footer.png") no-repeat;
  width: 31px;
  height: 31px;
  background-position: -10px -10px;
}
.vk {  background: url("../img/sprite_footer.png") no-repeat;
  width: 31px;
  height: 31px;
  background-position: -10px -163px;
}

.foorter_links {
  float: left;
  margin-right: 26px;
  margin-left: 214px;
}

.foorter_links ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.foorter_links li {
  display: inline-block;;
    float: left;
    width: 35%;
    margin-bottom: 5px;
}

.foorter_links a {
  font-size: 13px;
  color: #fff;
  line-height: 17px;
  font-weight: 400;
}

.foorter_links .active {
  font-weight: 700;
  padding-left: -20px;
}

.active li {
  padding-left: 0px;
}

.foorter_links .active::before {
  content: url("../img/heart.svg");
  display: inline-block;
  vertical-align: middle;
  padding-right: 7px;
}

.footer_copyright {
  float: right;
  fill: #fff;
  fill-rule: evenodd;
}

.footer_copyright p {
  font-size: 12px;
  color: #fff;
  line-height: 15px;
  font-weight: 400;
}

.footer_copyright a {
  font-size: 12px;
  color: #fff;
  line-height: 15px;
  font-weight: 400;
}

#button_1:checked ~ .site_wrapper #slider1,
#button_2:checked ~ .site_wrapper #slider2,
#button_3:checked ~ .site_wrapper #slider3 {
  display: block;
}

#button_1:checked ~ .site_wrapper {
  background-color: #849d8f;
  background-image: url("../img/ice_cream_background_1.png");
}
#button_2:checked ~ .site_wrapper {background-color: #8996a6;
  background-image: url("../img/ice_cream_background_2.png");
}
#button_3:checked ~ .site_wrapper {background-color: #9d8b84;
  background-image: url("../img/ice_cream_background_3.png");
}

#button_1:checked ~ .site_wrapper label[for="button_1"],
#button_2:checked ~ .site_wrapper label[for="button_2"],
#button_3:checked ~ .site_wrapper label[for="button_3"] {
  background-color: #fff;
}


#button_2:checked ~ .search {background-color: #a1abb8;
}


.breadcrumbs {
  margin: 0;
  padding: 0;

  list-style: none;
float: left;
}

.breadcrumbs_list li {
  position: relative;
  display: inline;
  padding-right: 20px;
}

.breadcrumbs_list a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
}

.last {
  color: #fff;
  text-decoration: none;
}

.breadcrumbs li::after {
  content: ">>";
  position: absolute;
  color: #fff;
  font-size: 14px;
}

.last::after {
  content: none;
}


.filters {
  margin-top: 35px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
}

.wrapper {
    display: inline-block;
    padding: 8px 16px;
    background: #a9b9af;
    border-radius: 50px;
  }

.sorting_item p {
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 8px;
  font-weight: 500;
}

select.sorting  {
padding: 8px 27px 8px 14px;
margin: 0;
background-color: #a9b9af;
border-radius: 50px;
border: none;
}

select.sorting:hover {
background-color: #fff;
color: #343434;
}


input [type="radio"].s2 {
  width: 20px;
  height: 20px;
}

input[type="checkbox"].s3 {
  margin-left: 22px;
  margin-right: 12px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

input[type="checkbox"].s3:checked {
  border: none;
  background-color: #33935b;
}

.page_product {
  float: right;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.page_product li {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.page_product a {
  text-decoration: none;
  display: block;
  margin-top: 79px;
  margin-bottom: 38px;
  padding: 0 10px;
  color: #fff;
}

.prev {
  fill: #fff;
  fill-rule: evenodd;
  opacity: 0.2;
  padding-left: 0;
}

.next {
  fill: #fff;
  fill-rule: evenodd;
  padding-right: 0;
}
